/* Toaster Styles */
@import '../../../scss/Base/config';

.toaster {
  display: block;
  position: fixed;
  top: 0;
  opacity: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  background: $hm-turquoise;
  z-index: 999;

  &--in {
    opacity: 1;
    animation: fadein 0.5s;
    -moz-animation: fadein 0.5s; /* Firefox */
    -webkit-animation: fadein 0.5s; /* Safari and Chrome */
    -o-animation: fadein 0.5s; /* Opera */
  }
}

.toaster__text {
  margin: 0;
  text-align: center;
  color: $hm-white;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
